<center>
  <form action="/remove" method="post">
    Submit a Url to be removed from your bookmarks<br>
      <input type="text" name="url"><br>
      <input type="submit" value="Submit">
    </form>
    <a href="/bookmarks"> <h2> Cancel action </h2> </a>
</center>
