<center><form action="/bookmarks/add" method="post">
    Title<input type="text" name="title"><br>
    URL <input type="text" name="url"><br>
    <input type="submit" value="Submit">
</form>
<a href="/bookmarks"> <h2> Cancel action </h2> </a>
</center>
